@page "/"
@using Microsoft.AspNetCore.Components.Forms
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <NavLink href="import" class="btn-navigate btn-import">
        <span class="btn-icon"><img src="imgs/import.png" /></span> Nhập kho</NavLink>
    <NavLink href="export" class="btn-navigate btn-export">
        <span class="btn-icon"><img src="imgs/export.png" /></span> Xuất kho
    </NavLink>
</div>
@code {

}
